<h1>Data Binding</h1>
<p>Name of the User is: {{nameOfTheUser}}</p>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="si-tab" data-toggle="tab" href="#si" role="tab" aria-controls="si" aria-selected="true">String
      Interpolation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pb-tab" data-toggle="tab" href="#pb" role="tab" aria-controls="pb" aria-selected="false">Property Binding</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="eb-tab" data-toggle="tab" href="#eb" role="tab" aria-controls="eb" aria-selected="false">Event Binding</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="twb-tab" data-toggle="tab" href="#twb" role="tab" aria-controls="twb" aria-selected="false">Two way Binding</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="cpb-tab" data-toggle="tab" href="#cpb" role="tab" aria-controls="cpb" aria-selected="false">Custom Property Binding</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="ceb-tab" data-toggle="tab" href="#ceb" role="tab" aria-controls="ceb" aria-selected="false">Custom Event Binding</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="si" role="tabpanel" aria-labelledby="si-tab">
    <app-si></app-si>
  </div>
  <div class="tab-pane fade" id="pb" role="tabpanel" aria-labelledby="pb-tab">
    <app-pb></app-pb>
  </div>
  <div class="tab-pane fade" id="eb" role="tabpanel" aria-labelledby="eb-tab">
    <app-eb></app-eb>
  </div>
  <div class="tab-pane fade" id="twb" role="tabpanel" aria-labelledby="twb-tab">
    <app-twb></app-twb>
  </div>
  <div class="tab-pane fade" id="cpb" role="tabpanel" aria-labelledby="cpb-tab">
    <app-cpb [someNumber]="20" [myAge]="getMyAge()"></app-cpb>
    <app-cpb [myAge]="ageOfUser1"></app-cpb>
    <app-cpb [myAge]="ageOfUser2"></app-cpb>
  </div>
  <div class="tab-pane fade" id="ceb" role="tabpanel" aria-labelledby="ceb-tab">
    <app-ceb (profileLoaded)="profileLoadedHandler($event)"></app-ceb>
  </div>
</div>
